.featured {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

    .container {
        width: 1320px;
        display: flex;
        align-items: center;

        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 50px;

                i {
                    font-weight: 300;
                }
            }

            .search {
                background-color: white;
                border-radius: 5px;
                position: relative;

                .search-input {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 10px;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        margin: 7px 0;
                        border: none;
                        outline: none;
                    }
                }

                button {
                    width: 120px;
                    height: 50px;
                    border: none;
                    background-color: #1dbf73;
                    color: white;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .popular {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                }

                button {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 20px;
                    padding: 5px 10px;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }

        .right {
            height: 100%;

            img {
                object-fit: contain;
            }
        }
    }
}
